.home {
  height: 100%;
  background-color: #2550b1eb;

  span {
    white-space: normal;
    overflow: hidden;
    padding: 2rem;
    width: 55%;
    text-shadow: 2px 2px 2px #000;

    p {
      text-shadow: none;
      a {
        color: white;
      }
      button.ui.google.plus.button {
        height: 3rem;
        width: 40%;
      }
      .ui.horizontal.divider {
        width: 30%;
        margin: 0.5rem auto;
      }
    }
  }
}

.maintext {
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.logo {
  animation: typing 1s steps(10, end), blink 1s step-end infinite;
  border-right: 1px solid orange;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  font-family: monospace;
  font-weight: bolder;
  margin: 0.2rem;
  letter-spacing: 0.1rem;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 10%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.hero {
  width: 45%;
  img {
    border-style: none;
    margin-left: -10rem;
  }
}
