a.ui.big.icon.primary.right.floated.left.labeled.button {
  background-color: transparent;
  margin-right: 1em;
  color: black;
}

a.ui.big.icon.primary.right.floated.left.labeled.button.total {
  margin-right: -4em;
}
.ui.divided.three.column.grid.cart.productslist {
  margin: 3em;
}
