.ui.mini.stackable.navbar.menu {
  justify-content: flex-end;
  text-align: right;
  padding-right: 5rem;
  right: 0rem;
  margin: 0;
}

.item:before {
  width: 0.02rem;
  background: rgba(34, 36, 38, 0.04);
}

.ui.menu .item:before {
  width: auto;
}

.item:before {
  width: auto;
}

.ui.menu .item {
  padding: 0.22857143em 1.14285714em;
}
.menu {
  .ui.floating.label {
    position: absolute;
    z-index: 100;
    top: 0.5em;
    left: 100%;
    margin: 0 0 0 -0.5em !important;
    padding: 0.3833em 0.333em;
  }
}

.ui.menu:not(.vertical) .left.item,
.ui.menu:not(.vertical) :not(.dropdown) > .left.menu.logo {
  border-right-style: none;
}
