.ui.mini.stackable.navbar.menu {
  justify-content: flex-end;
  text-align: right;
  padding-right: 5rem;
  right: 0rem;
  margin: 0;
}

.item:before {
  width: 0.02rem;
  background: rgba(34, 36, 38, 0.04);
}

.ui.menu .item:before {
  width: auto;
}

.item:before {
  width: auto;
}

.ui.menu .item {
  padding: 0.62857143em 1.14285714em;
}
